{# src/FirstBundle/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="csrf-param" content="_csrf">
        <meta name="csrf-token" content="WGVTM0NmbDk9MmJkJD8bUxBUZEo1FAB4bis0dSg5B0sgUCBlcD9YSQ==">
        <title>
            {% block title %} Default Title{% endblock %}
        </title>
        
        {# Bootstrap #}
        
            <!-- Bootstrap CSS  -->
            <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap-theme.min.css') }}" type="text/css" />
            
            <!-- main CSS stylesheet -->
            <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}" type="text/css" />
            
            <!-- AmCharts  -->
            <script type="text/javascript" src="{{ asset('assets/vendor/amcharts/dist/amcharts/amcharts.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/amcharts/dist/amcharts/serial.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/amcharts/dist/amcharts/pie.js') }}"></script>

            <script type="text/javascript" src="{{ asset('assets/vendor/amcharts/dist/amcharts/themes/patterns.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/amcharts/dist/amcharts/themes/dark.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/amcharts/dist/amcharts/themes/black.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/amcharts/dist/amcharts/themes/chalk.js') }}"></script>
            
            <link rel="stylesheet" href="{{ asset('assets/vendor/amcharts/dist/images/styles.css') }}" type="text/css" />
            <!-- export -->
            <script type="text/javascript" src="{{ asset('assets/vendor/amcharts/dist/amcharts/plugins/export/export.js') }}"></script>
            <link rel="stylesheet" href="{{ asset('assets/vendor/amcharts/dist/amcharts/plugins/export/export.css') }}" type="text/css" />
            


            <!-- JQuery -->
            <script type="text/javascript" src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
            
            <!-- BootstrapJS  -->
            <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>

            <!-- Boosttrap Datepicker -->
            
            <!-- DataTables   -->
            <script type="text/javascript" src="{{ asset('assets/vendor/datatables.net/js/jquery.dataTables.min.js') }}"></script>
{#            <link rel="stylesheet" href="{{ asset('assets/vendor/datatables.net/css/dataTables.bootstrap.min.css') }}" type="text/css" />#}
            
            <!-- fartbtastic (color picker) -->
            <link rel="stylesheet" href="{{ asset('assets/vendor/fartbtastic/dist/css/fartbtastic.css') }}" type="text/css" />
            <script type="text/javascript" src="{{ asset('assets/vendor/fartbtastic/dist/js/fartbtastic.js') }}"></script>
            

    </head>
    <body>


        <div class="wrap">

            {% include "FirstBundle:Layouts:menubar.html.twig" %}
            
            {# {% render "FirstBundle:Default:menu" %}   Ici au lieu d'inclure un template on inclut une actiond'un contrôleur (Default:menuAction()) cf lien ci-dessous pour détail #} 
            
            {# https://zestedesavoir.com/tutoriels/620/developpez-votre-site-web-avec-le-framework-symfony2/394_les-bases-de-symfony2/1993_le-moteur-de-templates-twig/#4-6365_heriter-et-inclure-des-templates #}
            

            <div class="container-fluid content">

                {%block content %}

                {% endblock %}

            </div>
                
        </div>
      

        <footer class="footer">
            <div class="container">
                <p class="pull-left">&copy; Tourplanner V2</p>
            </div>
        </footer>
                
{#        <script type="text/javascript">#}
            {% block js_scripts %}
            {% endblock %}
{#        </script>  #}
                
    </body>
</html>
